---
import Base from "../../layouts/Base.astro"
import Image from "astro/components/Image.astro"

const posts = await Astro.glob('./*.md');
---

<Base pageName="Mutattoo - Blog">
    <!-- Hero sekce -->
    <div class="flex flex-col justify-center items-center h-[50vh] text-center px-5 md:px-10 lg:px-14 header-bg border-b border-white10">
        <h1 class="font-unifraktur text-[72px]">Blog</h1>
        <p class="text-[24px] text-white40">Příběhy a novinky ze studia</p>
    </div>

    <!-- Výpis článků -->
    <div class="bg-lightGradient">
        <div class="flex justify-center p-5 md:p-10 lg:p-14">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-[1200px] max-w-full">
                {posts.map((post) => (
                        <a href={post.url} class="group flex flex-col justify-between p-6 bg-dark border border-white10 rounded-md hover:border-white20 transition-all relative overflow-hidden h-fit">
                            <!-- Efekt na pozadí při hoveru -->
                            <div class="absolute inset-0 bg-featureCard bg-cover opacity-0 group-hover:opacity-100 transition-opacity pointer-events-none"></div>

                            <div class="relative z-10 flex flex-col gap-3">
                                <div class="flex gap-2">
                                    {post.frontmatter.tags?.slice(0, 2).map((tag: string) => (
                                            <span class="text-[9px] uppercase tracking-[1.5px] text-white40 font-medium border-b border-white10">
                                    {tag}
                                </span>
                                    ))}
                                </div>

                                <h2 class="text-xl font-bold leading-tight group-hover:text-white transition-colors tracking-tight">
                                    {post.frontmatter.title}
                                </h2>

                                <p class="text-white40 text-xs line-clamp-2 leading-relaxed">
                                    {post.frontmatter.excerpt}
                                </p>
                            </div>

                            <div class="relative z-10 mt-6 pt-3 border-t border-white10 flex justify-between items-center text-[10px] text-white20 uppercase tracking-widest">
                                <span>{post.frontmatter.author}</span>
                                <span>{new Date(post.frontmatter.date).toLocaleDateString('cs-CZ')}</span>
                            </div>
                        </a>
                ))}
            </div>

        </div>
        <div class="pb-20 text-center">
            <a class="flex flex-row gap-3 items-center mx-auto px-3 py-[6px] border border-white10 bg-dark60 rounded-[3px] w-fit text-sm opacity-60 hover:opacity-100 transition-opacity" href="/">
                Zpět na úvod
            </a>
        </div>
    </div>
</Base>